<div class="main-wrapper" ng-controller="TvMostPopularController as tv">
  <h1>{{tv.title}}</h1>
  <div class="feed-wrapper">
    <!-- template -->
    <div  class="feed-template index-template-feed">
      <a href="#/movies/">
        <div class="backdrop"></div>
        <div class="ft-cover" style="background: url() no-repeat center center;background-size: cover;"></div>
        <header class="ft-title">
          <figure class="ft-rating">
            <h4 >Title - 2016</h4>
            <figcaption>9/10</figcaption>
          </figure>
        </header>
      </a>
    </div>
    <!-- end -->
  </div>
</div>
<div class="main-wrapper" ng-controller="TvFavoritesController as tv">
  <h1>{{tv.title}}</h1>
  <div class="feed-wrapper">
    <!-- template -->
    <div  class="feed-template index-template-feed">
      <a href="#/movies/">
        <div class="backdrop"></div>
        <div class="ft-cover" style="background: url() no-repeat center center;background-size: cover;"></div>
        <header class="ft-title">
          <figure class="ft-rating">
            <h4 >Title - 2016</h4>
            <figcaption>9/10</figcaption>
          </figure>
        </header>
      </a>
    </div>
    <!-- end -->
  </div>
</div>
