
<section id="content-trigger" class="main-content contentFull">
  <div class="template-home-feed span_6_of_12"
    style="  background: url(http://image.tmdb.org/t/p/w1920/hETu6AxKsWAS42tw8eXgLUgn4Lo.jpg) no-repeat center center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;">
    <div class="intro-titles">
      <a href="#/movies"><h1 class="fsizeTitle">MOVIES</h1></a></div>
  </div>
  <div class="template-home-feed span_6_of_12"
    style="background: url(http://image.tmdb.org/t/p/w1920/zYFQM9G5j9cRsMNMuZAX64nmUMf.jpg) no-repeat center center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;">
    <div class="intro-titles "><a href="#/tv"><h1 class="fsizeTitle">TV SERIES</h1></a></div>
  </div>
</section>
