<!-- title and alternative menu -->
<alt-menu obj="movies"></alt-menu>

<div ng-init="movies.getFeed()" class="results" scrolly>
  <!-- if there is no data print generic no-data -->
  <offline-err
    ng-if="!online"
    title="Connect to the internet!"
    obj="movies"
    icon="internet.svg"></offline-err>
  <!-- end -->
  <feed-layout ng-if="online" type="movie" obj="movies"></feed-layout>
  <!-- If feed is empty -->
  <offline-err
    ng-hide="tv.results <= 0"
    ng-if="online"
    title="looks like its empty..."
    obj="local"
    icon="tornado.svg"></offline-err>
</div>
