<div class="window-controllers-wrapper" ng-controller="MenuController as menu">
  <window-controlles></window-controlles>
  <back-btn></back-btn>
  <forward-btn></forward-btn>
  <div search-bar></div>
</div>

<section scroll id="content-trigger" class="main-content contentFull" ng-init="movieFeed.feedDetails()">
    <div id="feed-ajax" class="feed-module" >
      <!-- FEED -->
          <div class="feed-template index-template-feed " ng-repeat="movie in dataResults track by $index">
             <figure class="favorite " data-id="" title="Add to favorite">
               <div ng-click="movieFeed.addToFavorite(movie.id)" favorite-icon></div>
            </figure>
            <div class="ft-cover">
              <figure class="ft-rating">
                <img src="assets/img/dark-template/icons/svg/rating-star.svg">
                <span>{{movie.rating}}/10</span>
                <span>&nbsp;()</span>
              </figure>
              <ul>
                <li ng-click="movieFeed.newWindow(movie.id)">
                  <img src="{{movie.medium_cover_image}}" class="image-cover-black">
                </li>
              </ul>
            </div>
            <figure class="last-episode" title="Go to Last Episode" align="center">
              <play-button></play-button>
            </figure>
            <header class="ft-title">
              <h4>
                <span title="">{{movie.title}}</span>
                <date>{{movie.year}}</date>
              </h4>
            </header>
          </div>
      </div>
    <infinit-loader></infinit-loader>
</section>
