<div class="window-controllers-wrapper" ng-controller="MenuController as menu">
  <window-controlles></window-controlles>
  <back-btn></back-btn>
  <forward-btn></forward-btn>
</div>

<section scroll id="content-trigger" class="main-content contentFull" ng-init="tvFeed.getFeed()">
  <div ng-class="tvFeed.loading ? 'loading-spinner' : ''" class="spinner"></div>
<!--  <div class="background-feed" style="background: url(http://image.tmdb.org/t/p/w1920{{tvFeed.dataResults[0].backdrop_path}}) no-repeat center center;background-size: cover; opacity:0.3;-webkit-filter: blur(10px)">
</div> -->
<div class="background-feed" style="background: url({{tvFeed.dataResults[0].images.poster}}) no-repeat center center;background-size: cover; opacity:0.3;-webkit-filter: blur(10px)">
</div>

  <div class="feed-search">
    <!-- search bar -->
    <fieldset class="query-search">
      <input type="text" id="input-search" class="m-typeahead" placeholder="Search for a movie or series here" ng-model="tvFeed.query" ng-change="tvFeed.currentSearch = 'search';tvFeed.search()">
      <button><img src="assets/img/global/loupe.svg"></button>
    </fieldset>
    <!-- global search terms -->
    <fieldset class="pre-set-btn" ng-model="tvFeed.list.value">
      <button ng-repeat="list in tvFeed.list.options" ng-click="tvFeed.currentSearch = 'getFeed';tvFeed.list.value = list.value; tvFeed.getFeed();">{{list.name}}</button>
    </fieldset>
    <!-- search genre -->
    <ul ng-model="tvFeed.genre.value" ng-change="tvFeed.tvData()" class="genre-buttons">
      <li ng-repeat="genre in tvFeed.genre.options">
        <button ng-click="tvFeed.currentSearch = 'discover';tvFeed.genre.value = genre.value; tvFeed.discover();">{{genre.name}}</option>
        </li>
      </ul>
    </div>
    <!-- FEED -->
    <div id="feed-ajax" class="feed-module"  scrolly>
      <!-- IF NO RESULTS IN LIST -->
      <div class="no-results" ng-if="tvFeed.dataResults.length == 0">
        <div class="nr-center">
          <figure class="nr-img">
            <img src="assets/img/internet.svg">
          </figure>
          <h3 class="nr-err-title">Failed to connect<br><a href="" class="refresh">Retry</a></h3>
        </div>
      </div>
      <!-- feed template -->
      <div ng-if="tvFeed.dataResults.length > 0" class="feed-template index-template-feed" ng-repeat="serie in tvFeed.dataResults track by $index">
        <a href="#/tv/{{serie._id}}/season/1">
          <div class="backdrop"></div>
        <!--  <div class="ft-cover" style="background: url(http://image.tmdb.org/t/p/w1000/{{serie.backdrop_path}}) no-repeat center center;background-size: cover;">
        </div>-->
        <div class="ft-cover" style="background: url({{serie.images.poster}}) no-repeat center center;background-size: cover;">
        </div>
          <h4 class="name">{{serie.title}}</h4>
          <header class="ft-title">
            <figure class="ft-rating">
              <h4>{{serie.title}} {{serie.year}}</h4>
              <!--<figcaption>{{serie.vote_average | number:1 }}/10</figcaption>-->
            </figure>
            <!--<date>{{serie.first_air_date | limitTo : 4}}</date>-->
          <!--  <p>{{serie.overview | limitTo : 150 }}...</p> -->
          </header>
        </a>
      </div>
    </div>
  </section>
