<div class="window-controllers-wrapper transparent" ng-controller="MenuController as menu">
  <window-controlles></window-controlles>
  <back-btn></back-btn>
  <forward-btn></forward-btn>
</div>
<section id="content-trigger" class="main-content contentFull forceFullHeight" ng-init="tv.getTvData()" style="background: url(http://image.tmdb.org/t/p/w1920{{tv.info.backdrop_path}}) no-repeat center center;background-size: cover;">
  <div ng-class="tv.loading ? 'loading-spinner' : ''" class="spinner"></div>
  <div class="info-content ng-hide-animate">
    <!-- gradient top -->
    <div class="gradient-top"></div>
    <!-- top data -->
    <div class="info-data">
      <div class="data-epi-season">
        <h1>
          <button>SEASON {{tv.season}}</button>/
          <button>EPISODE {{tv.episode}}</button>
          <button>
            <img src="assets/img/global/download.svg">
          </button>
        </h1>
      </div>
      <div class="under-layer">
        <figure class="data-poster">
          <!-- quality button -->
      <!--  <div class="quality-btn">
            <figure class="icon-quality">
              <img src="assets/img/global/hd.svg">
            </figure>
            <div class="quality-set">
              <fieldset ng-repeat="(key, val) in tv.torrents">
                <input  ng-model="tv.download" type="radio" id="{{key}}" ng-value="tv.torrents[key][0].magnet">
                <label for="{{key}}">{{key}}</label>
              </fieldset>
            </div>
          </div> -->
          <div class="days-left">
            <div class="dl-wrapper">
              <!-- Days left for the next air date -->
              <span class="days-title">comming in</span>
              <date>{{tv.daysLeft(tv.info.last_air_date)}}</date>
            </div>
          </div>
          <img src="http://image.tmdb.org/t/p/w300{{tv.info.poster_path}}" err-src="assets/img/no-image.jpg" class="image-cover-black">
        </figure>
        <div class="episode-wrapper">
          <div class="season-holder">
              <button
                ng-repeat="i in tv.getSeasonsNumber(tv.info.number_of_seasons) track by $index"
                ng-click="tv.getSeasonInfo($event , $index+1)" class="season-btn">
                {{$index+1}}
            </button>
          </div>
          <div class="episode-holder">
            <a href="#/tv/{{tv.imdb}}/season/{{tv.season}}/episode/{{tv.episode}}"
              ng-repeat="episode in tv.seasonData.episodes track by episode.episode_number"
              ng-if="tv.dateCheck(episode.air_date)">
              <button class="episode-btn">
                <span class="epi-index-roman">{{episode.episode_number | romanize}}</span>
                {{episode.name}}
              </button>
            </a>
          </div>
      </div>
    </div>
  </div>
  <!-- gradient bottom -->
  <div class="gradient-bottom">
    <!-- bottom data -->
    <div class="info-data-bottom">
      <div class="data-details">
        <h1 class="data-title">
          <button>
            <img src="assets/img/global/pizza.svg">
          </button>
          {{tv.info.name}}
        </h1>
        <figure class="data-rating">
          <img src="assets/img/global/rating.svg">
          <figcaption>
            {{tv.info.vote_average}}/10
          </figcaption>
        </figure>

        <!-- end -->
        <p class="data-overview">
          {{tv.info.overview}}
        </p>
        <div class="video-controlls">
          <figure>
            <img src="assets/img/global/stop.svg">
          </figure>

            <figure >
              <img src="assets/img/global/play.svg">
            </figure>

          <figure>
            <img src="assets/img/global/forward.svg">
          </figure>
        </div>
        <div class="auto-play">
          <input type="checkbox">
          <label for="">Keep playing</label>
        </div>
      </div>

    </div>
  </div>
</div>
</section>
