<div ng-init="tv.loadData()" class="background" style="background: url({{tv.tmdbImgUrl}}w1920{{tv.info.backdrop_path}}) no-repeat center center;background-size: cover;"></div>
<h1 class="title">{{tv.title}}</h1>
<ul class="alt_nav">
  <li ng-repeat="item in tv.typesOfSearch.options" value="item.value" ng-click="tv.getFeed(item.value)">{{item.name}}</li>
</ul>
<div class="results">
  <figure class="individual-img">
    <img src="{{tv.tmdbImgUrl}}w500{{tv.info.poster_path}}">
  </figure>
  <div class="individual-content-wrapper">
    <!-- Tabs -->
    <ul class="tabs">
      <li ng-repeat="item in tv.tabs.options" ng-class="item.value == tv.tabs.active ? 'selected' : ''" ng-click="tv.tabs.active = item.name">{{item.name}}</li>
    </ul>

    <div ng-if="tv.tabs.active == 'info'" class="info-tab">
        <seasons-layout obj="tv"></seasons-layout>
        <episodes-layout obj="tv"></episodes-layout>
    </div>

    <div ng-if="tv.tabs.active == 'trailer'" ng-init="tv.getTrailer()">
      <h1>trailer</h1>
    </div>

    <div ng-if="tv.tabs.active == 'cast'" ng-init="tv.getCast()" class="cast-tab">
      <cast-layout type="cast" obj="tv"></cast-layout>
    </div>

    <div ng-if="tv.tabs.active == 'crew'" ng-init="tv.getCrew()">
      <cast-layout type="crew" obj="tv"></cast-layout>
    </div>

    <div class="overview">
      <h1>OVERVIEW</h1>
      <p>{{tv.info.overview}}</p>
    </div>

  </div>
</div>
