<h1 class="title">{{tv.title}}</h1>
<ul class="alt_nav">
  <li ng-repeat="item in tv.typesOfSearch.options" value="item.value" ng-click="tv.getFeed(item.value)">{{item.name}}</li>
</ul>
<div class="top-to-bottom-degrade"></div>
<div ng-init="tv.getFeed()" class="results" scrolly>
  <div ng-repeat="item in tv.results" class="feed-template">
    <a href="#/tv/{{item.id}}">
      <figure class="ft-img">
        <img src="{{tv.tmdbImgUrl}}/w300/{{item.poster_path}}">
      </figure>
      <div class="ft-content">
        <a href="">{{item.name}}<span class="fc-c-rating">{{item.vote_average | round }}/10</span></a>
      </div>
    </a>
  </div>
</div>
