.no-results{
  width:100%;
  height:100%;
  display:table;
  .nr-center{
    display:table-cell;
    vertical-align: middle;
    height:100px;
    figure{
      width:100px;
      margin:0 auto;
    }

  }
}
