*{
   @include box-sizing($type: border-box);
   -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
body:after {
  //content: url();
  display: none;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
    -webkit-app-region: no-drag;
}
img{
    min-width:100%;
    max-width:100%;
    -webkit-user-drag: none;
}
/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    -webkit-app-region: no-drag;
}

/*
 * Allow only vertical resizing of textareas.
 */
input{
  -webkit-app-region: no-drag;
}

textarea {
    resize: vertical;
    -webkit-app-region: no-drag;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
  BODY
   ========================================================================== */
body{
    position:absolute;
    top:0;
    left:0;
    min-width:100%;
    width:100%;
    max-width:100%;
    min-height:100%;
    height: 100%;
    -webkit-app-region: drag;
    font-size:80%;
    font-family: 'Roboto', sans-serif;
    //font-family: 'Montserrat', sans-serif;
    //font-family: 'Raleway', sans-serif;

  /*
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Raleway', sans-serif;
  */
    background-color: darken($templateBackgroundColor, 12%);
    color:$templateTextColor;

    overflow: hidden;
}
*:focus {
   //outline-color: $red;
}
input:focus{
  outline:none;
}

select{
   outline-color: $red;
   -webkit-app-region: no-drag;
}

figure{
    margin: 0;
    padding: 0;
}

ul{
    padding:0;
    margin:0;
    list-style:none;
}

h1,h2,h3,h4,h5{
    margin:0;
    padding:0;
-webkit-app-region: no-drag;
      font-weight: normal;

}

h1{
    font-size:180%;
}

h2{
    font-size:160%;

}

h3{
    font-size:140%;
}

h4{
    font-size:120%;
   font-weight: bold;

}

h5{
    font-size:110%;
}

button{
  -webkit-app-region: no-drag;
  background-color:transparent;
  border:none;
  outline:none;

  :focus{
    background-color:transparent;
    border:none;
    outline:none;
  }
}


a{
  text-decoration:none;
  color:$templateTextColor;
}

/* GRID SYSTEM */
/*  GRID OF TWELVE   ============================================================================= */

.span_12_of_12 {
  width: 100%;
}

.span_11_of_12 {
  width: 91.53%;
}

.span_10_of_12 {
  width: 83.06%;
}

.span_9_of_12 {
  width: 74.6%;
}

.span_8_of_12 {
  width: 66.13%;
}

.span_7_of_12 {
  width: 57.66%;
}

.span_6_of_12 {
  width: 50%;
}

.span_5_of_12 {
  width: 40.73%;
}

.span_4_of_12 {
  width: 32.26%;
}

.span_3_of_12 {
  width: 23.8%;
}

.span_2_of_12 {
  width: 16.66666666666667%;
}

.span_1_of_12 {
  width: 8.333333333333333%;
}

::-webkit-scrollbar {
      width: 5px;
}

::-webkit-scrollbar-track {
      background-color: transparent;
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 1);
      border:1px solid rgba(255,255,255,0.1);
      margin-left:5px;
      border-radius:8px;
} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
      background-color: transparent;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
      background-color: black;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
  .span_12_of_12 {
    width: 100%;
  }
  .span_11_of_12 {
    width: 100%;
  }
  .span_10_of_12 {
    width: 100%;
  }
  .span_9_of_12 {
    width: 100%;
  }
  .span_8_of_12 {
    width: 100%;
  }
  .span_7_of_12 {
    width: 100%;
  }
  .span_6_of_12 {
    width: 100%;
  }
  .span_5_of_12 {
    width: 100%;
  }
  .span_4_of_12 {
    width: 100%;
  }
  .span_3_of_12 {
    width: 100%;
  }
  .span_2_of_12 {
    width: 100%;
  }
  .span_1_of_12 {
    width: 100%;
  }
}


/*  SECTIONS  ============================================================================= */

.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  GROUPING  ============================================================================= */


.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */
