.alt_nav{
  width:100%;
  font-size:80%;
  li{
    display:inline-block;
    margin-right:20px;
    text-transform: uppercase;
    font-weight:bold;
    opacity:0.6;
    cursor:pointer;

    &.selected{
      color:$red;
      opacity:1;
    }

    &:hover{
      color:$red;
      opacity:1;
    }
  }
}
