.feed-template{
  width:148px;
  display:inline-block;
  vertical-align: top;
  margin:10px 20px 10px 0;

  .ft-img{
    width:100%;
    overflow: hidden;
    height:220px;
    box-shadow:1px 1px 5px rgba(0,0,0,0.5);
  }
  .ft-content{
    margin-top:10px;
    font-size:80%;
    font-weight:bold;
    width:100%;

    .fc-c-rating{
      float:right;
    }
  }

}
