.main-menu{
  width:200px;
  height:80%;
  display: inline-block;
  vertical-align: top;
  margin:0;
  border-right:1px solid rgba(255,255,255,0.1);

  ul{
    font-size:120%;
    padding:0 15px;

    li{
      width:100%;
      padding: 5px 10px;
      text-align: left;
    }
    .sub-menu-item{
      opacity:0.8;
    }
    .main-menu-item{
      font-size:100%;
      opacity:0.5;
    }

    .separate{
      height:1px;
      margin:0;
      padding:0;
      width:100%;
      border-bottom:1px solid rgba(255,255,255,0.2);
    }
  }
}
