.appended{
  width: 100%;
  min-height: 100%;
  background-color: rgba(0,0,0,0.7);
  padding:40px 10px;
  height:auto;
  float:left;
  left: 0;
  z-index:999;
}

.fullscreen-player{
  width:100%;
  top:0;
  left:0;
  height:100%;
  position:fixed;
  z-index:99999;
  background-color:rgba(0,0,0,1);
  display:table;
  display:none;
  .exit{
    position:fixed;
    top: 5%;
    right: 10%;
    z-index:9999;
    width:35px;
    height:35px;
    cursor:pointer;
    img{
      max-width:100%;
    }
  }
  iframe{
    width:80%;
    height:80%;
    margin: 5% auto;
    display:table-cell;
    vertical-align:middle;
  }
  .no-video{
    vertical-align:middle;
    width:50%;
    height:20%;
    margin: 15% auto;
    font-size: 200%;
    color:white;

    @media screen and (max-width:1000px){
      width:80%;
    }
  }
}
/* COMMENT BOX */
.imm-comments{
  width:40%;
  height:100%;
  background-color:rgba(0,0,0,0.7);
  padding:2%;
  overflow:hidden;
  float:left;
  position:relative;
  border-radius:4px;
  @media screen and (max-width: 600px){
    width:100%;
    min-height:300px;
    display:none;
  }

  h2{
    border-bottom:1px solid rgba(255,255,255,0.3);
  }
  #refresh-chat{
    position:absolute;
    top:15px;
    right:20px;
    width:15px;
    height:15px;
    padding:0;

    &.rotate{
      -webkit-animation:spin 3s linear infinite;
      -moz-animation:spin 3s linear infinite;
      animation:spin 3s linear infinite;
    }

  }

  @-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

  .comment-btn{
    position:absolute;
    right:10px;
    bottom:10px;
    background:rgba($red, 0.6);
  }
  .comment-box{
    display:none;
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    background-color:rgba(0,0,0,1);
    padding:10px;
    z-index:90;
    h2{
      width:100%;
      float:left;
    }
    textarea{
      width:100%;
      background-color:rgba(255,255,255,1);
      height:80px;
      float:left;
      margin-bottom:3%;
      color:rgba(0,0,0,0.9);
    }
    button{
      background:rgba($red, 0.6);
      float:right;
    }
  }
  .imm-comments-wrapper{
    height:80%;
    overflow: hidden;
    width:100%;
  }
  .imm-c-template{
    width:100%;
    float:left;
    height:auto;
    padding:2%;
    margin-top:5%;
    border-radius:5px;
    background-color: rgba(255, 255, 255, 0.08);
    &:first-child{
      margin-top:2%;
    }
    .imm-c-user{
      float:left;
      width:40px;

      .imm-c-avatar{
        margin: 0 auto;
        width:30px;
        border-radius:50%;
        height:30px;
      }
      .imm-c-user-controlls{
        width:100%;
        text-align: center;
        float:left;
         a button{
          margin:0 auto;
          background:rgba($red, 0.4);
          font-size:70%;
          border-radius: 5px;
          text-transform: lowercase;
        }
      }
      .add-friend{
          background:rgba($red, 0.4);
          display:none;
          cursor: pointer;
          padding: 2px;
          float:right;
          margin-left: 0;
          margin-top: 2%;
          font-size: 60%;

        img{
          max-width:100%;
        }
      }
    }
    .imm-c-comment{
      padding-left: 2%;
      margin-left: 2%;
      border-left:1px solid rgba(255,255,255,0.2);
      width: calc(98% - 40px);
      float:left;
      font-size:80%;
      p{
        width:100%;
        padding-top: 0;
        margin-top:0;
      }
    }
  }
}
.imm-images{
  width:60%;
  float:left;
  height:100%;
  padding: 0 0 0 2%;
  @media screen and (max-width: 600px){
    width:100%;
  }
  .imm-images-main{
    height:50%;
    width:100%;
    float:left;
    border-radius:4px;
  }
  .imm-images-alt{
    overflow:hidden;
    width:100%;
    height:50%;
    float:left;
    padding-top:1%;
    border-radius:4px;

    img{
      float:left;
      width:32.3%;
      min-width:0;
      margin-right:1%;
      margin-top:1%;
      border-radius:4px;
    }
  }

}
.individual-movie-module{
  width:100%;
  padding: 2%;
  height:100%;
  position:relative;
  z-index:99;

  @media screen and(max-width:750px){
    padding:0;

  }

  .imm-image{
    width:40%;
    float:left;
    margin-right:5%;

    @media screen and (max-width:450px){
      width:100%;
    }
  }
  .imm-pre-wrapper{
    width:100%;
    height:80%;
    float:left;
    min-height:500px;

    @media screen and (max-width:600px){
      height:auto;
    }
  }
  .imm-after-wrapper{
    width:100%;
    height:18%;
    float:left;
    @media screen and (max-width:1024px){
      display:none;
    }
    @media screen and (max-width:600px){
      height:auto;
    }
    a{
      display:inline-block;
      margin-left:1%;
      margin-top:1%;
      width: 18.9%;
      height:100%;
      text-align:center;
      border-radius:4px;

      @media screen and(min-width:1870px){
        width: 19%;
      }

      @media screen and(max-width:950px){
        width: 18.5%;
      }

      @media screen and (max-width:1024px){
        width:33%;
      }
      @media screen and (max-width:600px){
        width: 49.1%;
        height:100px;
      }

      &:first-child{
        margin-left:0;
      }
      &:nth-child(6n){
        margin-left:0;
      }
      .season-templates{
        height:100%;
        width:100%;
        display:table;
        .st-content{
          display:table-cell;
          vertical-align:middle;
          text-align:center;
          background-color: rgba(0,0,0,0.8);
          font-weight:bold;

          p{
            margin-top:0;
          }
        }
      }
    }
  }
  .imm-content{
    position:relative;
    width:30%;
    float:left;
    background-color:rgba(0,0,0,0.7);
    padding:20px;
    margin-top:1%;
    height: 49%;
    overflow:hidden;
    position:relative;
    border-radius:4px;

    .favorite {
      position: absolute;
      right: 10px;
      top: 10px;
      width: 20px;
      height: 20px;
      z-index: 900;
      cursor:pointer;
      svg {
        max-width: 100%;
        height: auto;
        max-height:100%;
        path {
          fill: rgba($red, 0.2);
          stroke: blue;
          @include transition();
        }
        &:hover {
          path {
            fill: rgba($red, 1);
          }
        }
      }
    }
    /*FAVORITE ACTIVE */
    .favorite-active {
      position: absolute;
      right: 10px;
      top: 10px;
      width: 20px;
      height: 20px;
      z-index: 900;
      svg {
        max-width: 100%;
        height: auto;
        path {
          fill: rgba($red, 0.9);
        }

      }
    }
    @media screen and (max-width:750px){
      width:100%;
      height:auto!important;
      margin-top:0!important;
    }

    &:first-child{
      margin-top:0;
      height:49%;
    }
    .genre-btn{
      opacity: 0.7;
      color:white;
      border: 1px solid rgba(255, 255, 255, 0.33);

      &:hover{
        background-color:white;
        border:1px solid white;
        color:black;
      }

    }


    .mCustomScrollbar{
      height:80%;
      padding-bottom: 5%;
    }

    .play-movie{
      font-size:150%;
      background-color:rgba($red, 0.5);
      border-radius:5px;
      padding: 10px 20px;
    }
    h1{
      span.date{
        font-size:70%;
      }
      span.name{
        display: block;
        font-size: 55%;
        color: #FFFFFF;
        opacity: 0.6;
        text-transform: uppercase;
        /* font-weight: bold; */
        margin-bottom: 1%;
      }
      date{
        font-size:80%;
        opacity:0.8;
      }
    }

    .imm-c-buttons{
      width:100%;
      padding-bottom:10px;
      float:left;
      border-bottom: 1px solid rgba(0, 0, 0, 0.27);

      button{
        border:1px solid  rgba($red, 0);

        &:hover{
          border:1px solid rgba($red, 0.5);
        }
        img{
          min-width:5px;
          margin-top:3px;
        }
      }

    }
    .imm-c-content{
      width:100%;
      float:left;
      //overflow-y: scroll;
      height: calc(100% - 30px);

      @media screen and (max-width:750px){
        overflow-y:none;
        height:auto;
      }

      h2{
        margin-top:1%;
      }
      .mc-info-wrapper{
        height:100%;

        p{
          .released{
            padding:4px 10px;
            background-color:rgba(green, 0.5);
            color:white;
            margin-left: 1%;
            text-transform: uppercase;
            border-radius: 2px;
          }
          .run-time{

          }
        }

      }
      .mc-episode-wrapper{
        height:100%;
        padding-bottom:0;
        .current{
          color:$red;
        }
        .mc-episodes-template{
          margin-top:1%;
          a{
            h4{
              font-size:100%;
              margin-bottom:1px;
              span.epi-number{
                background-color: #812720;
                padding: 1px 5px;
              }
              span.current{
                background-color: white;
                color: #812720;
              }

              button{
                @include transition("all 0.2s ease-out");
                &:hover{
                  background-color: rgba(255, 255, 255, 0.08);
                }
              }

              .episode-state{
                float:right;
                .arrow-tick{
                  @include transition("all 0.2s ease-out");
                }
                &:hover{
                  .arrow-tick{
                    opacity:1;
                  }
                }
              }
              .episode-state.watched{
                .arrow-tick{
                  opacity:1;
                }
              }
            }
          }
        }
      }

      .mc-cast-wrapper{
        padding-top: 10px;
        height:100%;
        .mc-cast-template{
          width:100%;
          padding-bottom:1%;
          margin-bottom:1%;
          // border-bottom:1px solid rgba(0,0,0,0.3);
          height:70px;

          figure{
            float:left;
            max-width:30%;
            height: 100%;
            width:50px;
            img{
              min-width:0;
              width:auto;
              max-height:100%;
              min-height:100%;
            }
          }
          .mc-c-content{
            float:left;
            width:70%;
            .character{
              font-size:80%;
              opacity:0.7;
              padding-left:1%;
              button{
                padding-left:0;
              }
            }
            .real-name{
              padding-left:1%;
              button{
                padding-left:0;
              }
            }
            button{
              text-align:left;
            }
          }
        }
      }
      .mc-links-wrapper{
        height:100%;
        position:relative;
        .add-link{
          width:100%;
          float:right;

          form{
            width:100%;
            input{
              float:right;
              background-color: rgba(0,0,0,0.4);
              border: none;
              padding: 4px;
              margin-right: 2%;
            }
          }
        }

        .add-btn{
          float:right;
          background-color:rgba($red,0.5);
          padding: 2px 5px;
          margin-right: 2%;
        }
        .mCustomScrollbar{
          height:90%;
        }
        .links-content{
          width:100%;
          height:100%;
          .video-links{
            a{
              background-color: #7D251F;
              padding: 2px 5px;
              color: white;
              text-transform: uppercase;
              display: inline-block;
              margin-top:1%;
              margin-right:4px;
            }
          }
        }
      }
      .mc-torrents-wrapper{
        @extend .mc-links-wrapper;

        .torrent-links{
          a{
            width:100%;
            float:left;
            //border:1px solid rgba(255,255,255,0.2);
            padding:5px;
            border-radius:5px;
            margin-bottom:1%;

            span{
              font-size:80%;
            }

            button{
              float:left;
              background-color:rgba($red,0.6);
              padding: 2px 5px;
              margin-right: 2%;
            }
          }
        }
      }
      .mc-crew-wrapper{
        @extend .mc-cast-wrapper;
        .mc-crew-template{
          @extend .mc-cast-template;
        }
      }
      .mc-reviews-wrapper{
        @extend .mc-cast-wrapper;

        button{
          float:right;
          background-color:rgba($red,0.5);
          padding: 2px 5px;
          margin-right: 2%;
        }

        .mCustomScrollbar{
          height:90%;
        }

        .mc-reviews-template{
          width:100%;
          padding-bottom:1%;
          margin-bottom:1%;

          figure{
            float:left;
            max-width:30%;
            height: 100%;
            width:50px;
            img{
              min-width:0;
              width:auto;
              max-height:100%;
              min-height:0;
            }
          }

          .mc-r-content{
            width:80%;
            padding-left:10px;
            float:left;

            h4{
              text-transform:uppercase;
              color:$red;
              opacity:0.8;
            }
            p{
              margin-top:0;
            }
          }
        }
      }

    }
  }
  .imm-content-trailer{
    float:right;
    width:70%;
    height:100%;
    padding: 0 0 0 20px;

    @media screen and (max-width:750px){
      width:100%;
      padding:0;
      margin:0;
      height:100%;
    }
    @media screen and (max-width:600px){
      width:100%;
      padding:0;
      margin:0;
      //height:300px;
    }

    iframe{
      height:100%;
      width:100%;
      position: relative;
      z-index: 10;
    }
  }

  .movie-images{
    width:100%;
    float:left;
    display:none;
    .mv-image-template{
      width:49%;
      float:left;
      margin-top:2%;
      margin-right:2%;

      &:nth-child(2n){
        margin-right:0;
      }

    }
  }
}
body[data-platform="movie"] {
  .imm-after-wrapper{
    display:none;
  }
  .imm-pre-wrapper{
    height:100%;
  }
}
