$companyColor:  #000;
$templateBackgroundColor: #333;
$templateTextColor: #DADADA;

/*TOP MENU COLORS */
$topMenuBackground: #000;

/*SIDE MENU COLORS */
$orange: orange;

$red: #f44336;
$logoColor: #FED564;
