<ul>
  <!-- Movies menu -->
  <li class="main-menu-item">Movies</li>
  <li class="separate"></li>
  <li class="sub-menu-item">most popular</li>
  <li class="sub-menu-item">airing today</li>
  <li class="sub-menu-item">most rated</li>
  <li class="sub-menu-item">My Watch list</li>
  <!-- Tv series menu -->
  <li class="main-menu-item">Tv Series</li>
  <li class="separate"></li>
  <li class="sub-menu-item">most popular</li>
  <li class="sub-menu-item">airing today</li>
  <li class="sub-menu-item">most rated</li>
  <li class="sub-menu-item">My Watch list</li>
  <!-- Anime menu -->
  <li class="main-menu-item">Anime</li>
</ul>
