.feed_wrapper{
  width:100%;
  height:calc(100% - 60px);
  overflow-y: auto;
  padding:0 30px;
  .mw-content{
    height: 95%;
  }
  .results{
    position:relative;
    width:100%;
    padding-top:3%;
  }
}
